
/* HSL */
$color1: hsla(231%, 100%, 7%, 1);
$color2: hsla(200%, 41%, 39%, 1);
$color3: hsla(192%, 36%, 61%, 1);
$color4: hsla(183%, 28%, 51%, 1);
$color5: hsla(210%, 100%, 97%, 1);

/* RGB */
$color1: rgba(0, 6, 38, 1);
$color2: rgba(58, 113, 140, 1);
$color3: rgba(120, 177, 191, 1);
$color4: rgba(96, 161, 165, 1);
$color5: rgba(239, 247, 255, 1);